# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor artifacts
.vscode/
.idea/
*.swp
*.swo

# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Dependency directories
node_modules/
